@font-face {
  font-family: 'SOYOMapleBoldTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KCC-Ganpan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #333;
  font-family: 'SOYOMapleBoldTTF';
  font-weight: normal;
  max-width: 767px;
  width: calc(100% - 30px);
  margin: 0 auto;
}

img {
  width: 100%;
  border-radius: 10px;
}

.title img:hover {
  transform: scale(0.9);
  transition: 1s;
  cursor: pointer;
}

/* *** */
body {
  background-color: #d5dced;

  /* background: url(../img/img01.jpg) center center / cover no-repeat; */
}

#root {
  margin-top: 100px;
}

header {
  width: 100%;
  background-color: #8fa3d5;
  height: 100px;
  position: relative;
}

header h1 {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

header h1 a {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
}

header strong {
  font-family: 'Cafe24Ssurround';
  font-size: 40px;
  color: aliceblue;
  display: block;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);


}


/* header h1:hover {
  color: #59688d;
  cursor: pointer;
}
 */

.list {
  margin: 10px 0 100px;
}

.list h3 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 20px;

  /*  border-radius: 20px;
  background-color: rgb(248, 248, 248);
 */

  position: relative;
  z-index: 1;
  margin: 0;
  font-family: 'SOYOMapleBoldTTF';
}

.list .main_list .item:nth-child(1) {
  margin-top: 20px;
}

.list .main_list .item {
  margin: 100px 0 100px;
  background-color: rgb(241, 244, 247);
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #a3abbf;

  box-shadow: 1px 5px 30px #333333a5;
}

.list .main_list .item .title {
  margin-bottom: 20px;
  /* margin: 0 auto; */
  text-align: center;
}

.list .main_list .item .title span {
  color: #888;
  display: block;
  margin-bottom: 5px;
}

.list .main_list .item .title h5 {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
  color: #92a2c9;
  position: relative;

  font-family: 'SOYOMapleBoldTTF';
}

.list h3::before {
  content: '';
  width: 350px;
  height: 10px;
  background-color: rgba(229, 113, 200, 0.667);
  display: block;

  position: absolute;
  bottom: 22%;
  right: 50%;
  transform: translate(50%, -60%);
  z-index: -1;
}


.list .main_list .item h4 {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #555;
}

.list .main_list .item p {
  font-size: 15px;
  text-decoration: underline;
  text-align: center;

  color: #888;
}


.list .main_list .item p:first-child {
  display: block;
  font-weight: bold;
  color: #888;
  margin-top: 10px;
}

.list .main_list .item>p:nth-last-child(2) {
  font-size: 17px;
  line-height: 1.5;
  margin-top: 5px;
}

.list .main_list .item a {
  /*  text-decoration: underline; */
  font-size: 15px;

  text-align: end;
  display: block;
  margin-top: 30px;
  margin-right: 30px;
  position: relative;
}

.list .main_list .item a:before {
  content: '';
  width: 22px;
  height: 21px;
  background: url('/public/img/busantour_btn.png') center center / cover no-repeat;
  display: block;

  position: absolute;
  bottom: 0;
  right: -24px;
}

.list .main_list .item a:hover::before {
  background: url('/public/img/busantour_btn_blue.png')center center / cover no-repeat;
}


footer {
  max-width: 767px;
  width: calc(100% - 30px);
  padding: 20px 0;

  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  color: azure;

  background-color: #8fa3d5;

  /* #a3abbf ,#8fa3d5 */
}

footer ul {
  display: flex;
}

footer ul li {
  width: calc(100% / 4);
  text-align: center;
}

footer ul li:hover {
  color: #555;
}